.Services {
    display:flex;
    flex-direction:column;
    text-align:center;
}

#serviceslist{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width:80vw;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,0.7);
    border: solid 1px var(--blueaccent);
    border-radius:10px;
    list-style-type:square;
    box-shadow: 2px 2px 2px var(--blueaccent);
}

.servicestext {
    background-color: rgba(0,0,0,0.7);
    border: solid 1px var(--blueaccent);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    margin:0px auto;
    align-self:flex-start;
    width:80vw;
    padding:10px 20px;
    box-shadow: 2px 2px 2px var(--blueaccent);
}

.servicestext p {
    font-size: 2.5vh;
    margin: 0 auto;
    padding: 0;
    width:100%;
}

h1 {
    margin:10px 0 0 0;
    font-size:1.5rem;
}