.Header {
    display:flex;
    flex-direction: row;
    text-align:center;
    justify-content: center;
    align-items:center;
    margin:0px;
    padding:0px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.logos {
  display:flex;
  flex-direction: row;
  margin:5px;
  width:30%;
}

@font-face {
    font-family: "Star Jedi";
    src:url('./fonts/StarJedi-DGRW.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
  }
  
  @font-face {
    font-family: "Star Jedi Hollow";
    src:url("./fonts/StarJediHollow-A4lL.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
  }
  
  @font-face {
    font-family: "Star Jedi Outline";
    src:url("./fonts/StarJediOutline-y0xm.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
  }
  
  @font-face {
    font-family: "Star Jedi Rounded";
    src:url("./fonts/StarJediRounded-jW3R.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
  }

  .navbar {
    font-family: "Star Jedi";
    color: rgb(254,197,1);
    list-style-type: none;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width:60%;
  }

  .navbar li {
    margin:5px 10px 5px 10px;
    font-size:4vh;
  }

.textlogo {
    height:12vh;
    margin:0px;
  }

  .imagelogo {
    height:12vh;
    margin:0px;
  }