.Home {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30px auto 10px auto;
}

.Home ul {
    list-style-type: none;
    text-align:left;
}

.Home ul li:before {
    content: "";
    background-image: url('../images/bullet.png');
    background-size: cover;
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:5px;
}