.App {
  text-align: center;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
 
}

@font-face {
  font-family: "Star Jedi";
  src:url('./fonts/StarJedi-DGRW.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Star Jedi Hollow";
  src:url("./fonts/StarJediHollow-A4lL.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Star Jedi Outline";
  src:url("./fonts/StarJediOutline-y0xm.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Star Jedi Rounded";
  src:url("./fonts/StarJediRounded-jW3R.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

.hollow {
  font-family: "Star Jedi Hollow";
  color:yellow;
}

.standard {
  font-family: "Star Jedi";
  color:red;
}

.rounded {
  font-family: "Star Jedi Rounded";
  color:green;
}

.outline {
  font-family: "Star Jedi Outline";
  color:blue;
}



