html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.App {
  height:100%;
  text-align: center;
  background-color: black;
  background-image: url("./images/stars_background2_50.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
 
}

@font-face {
  font-family: "Star Jedi";
  src:url('./fonts/StarJedi-DGRW.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Star Jedi Hollow";
  src:url("./fonts/StarJediHollow-A4lL.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Star Jedi Outline";
  src:url("./fonts/StarJediOutline-y0xm.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Star Jedi Rounded";
  src:url("./fonts/StarJediRounded-jW3R.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

.hollow {
  font-family: "Star Jedi Hollow";
  color: rgb(254,197,1);
}

.standard {
  font-family: "Star Jedi";
  color: rgb(254,197,1);
}

.rounded {
  font-family: "Star Jedi Rounded";
  color: rgb(254,197,1);
}

.outline {
  font-family: "Star Jedi Outline";
  color: rgb(254,197,1);
}

.testing {
  font-family:"Star Jedi Outline";
}

.bodytext {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(254,197,1);
}

